.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .links {
        display: block;

        .icon {
            display: none;
        }

        .link {
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            li {
                list-style-type: none;
                padding: 10px;
            }

            .nav_list {
                display: flex;
                align-items: center;
            }

            .reg {
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }

    }


}

@media screen and (max-width: 900px) {
    .nav {
        background: red;

        .links {

            .icon {
                display: block;

                svg {
                    font-size: 50px;
                }
            }

            .link {
                display: none;
            }
        }

        .mobile_links {
            display: block;
            // position: relative;

            .icon {
                svg {
                    font-size: 50px;
                }
            }

            .mobile_link {
                display: block;
                position: fixed;
                top: 70px;
                right: 0px;
                width: 50%;
                padding: 10px 20px;
                background-color: rgb(226, 27, 27);
                font-size: 20px;
                color: gray;
                min-height: 100%;

                // z-index: 0;

                li {
                    list-style-type: none;
                    display: flex;
                    padding: 10px 0;
                    align-items: center;
                    // justify-content: center;

                    a {
                        text-decoration: none;
                        color: gray;
                    }

                    svg {
                        display: flex;
                        align-items: center;
                        text-align: center;
                        // padding: 0 10px;
                    }
                }


            }

            .reg {
                text-align: center;
                display: flex;
                flex-direction: column;

                .login {
                    background-color: transparent;
                    border: none;
                    color: gray;
                    
                }
            }
        }

    }
}